<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICPE 2021 Program (All times are intended as PM and expressed in CEST: UTC+2)</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/program.css" />
</head>
<body ng-app="models-app">

<div ng-controller="ProgramController" ng-cloak>

    <div class="container-fluid">

        <div class="row">
            <h2 class="title">All times are intended as PM and expressed in CEST: UTC+2</h2>
        </div>

        <div class="">
            <label class="checkbox-inline"><input type="checkbox" ng-model="showFavorites" ng-change="toggleFavorites()"> Show only <span class="fas fa-star"></span></label>
            <button class="btn btn-outline-dark" ng-click="exportToCal(true)">Export <span class="fas fa-star"></span> to iCal</button>
            <button class="btn btn-outline-dark" ng-click="exportToCal(false)">Export all to iCal</button>
        </div>


        <!-- Modal for more info on talk -->
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title" id="myModalLabel">
                            <!-- Star -->
                            <button class="btn btn-link btn-sm" ng-click="toggleFavoriteTalk(selectedTalk, selectedTalkDate)">
                                <span ng-if="selectedTalk.selected" class="fas fa-star"></span>
                                <span ng-if="!selectedTalk.selected" class="far fa-star"></span>
                            </button>

                            <!-- Title -->
                            <strong ng-if="!hideType(selectedTalk.type)">{{selectedTalk.type}}:</strong>
                            <a ng-if="selectedTalk.url" ng-href="{{selectedTalk.url}}">{{selectedTalk.title}}</a>
                            <span ng-if="!selectedTalk.url">{{selectedTalk.title}}</span>
                        </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <!-- Organizers -->
                        <div ng-if="selectedTalk.organizers.length > 0">
                            <strong>Organizers:</strong>
                            <span ng-repeat="organizer in selectedTalk.organizers">{{$index > 0 ? ", " : ""}}<a ng-if="organizer.email" ng-href="mailto:{{organizer.email}}">{{organizer.name}}</a><span ng-if="!organizer.email">{{organizer.name}}</span></span>
                        </div>

                        <div ng-if="selectedTalk.sessionchairs.length > 0">
                            <strong>Session chair:</strong>
                            <span ng-repeat="sessionchair in selectedTalk.sessionchairs">{{$index > 0 ? ", " : ""}}<a ng-if="sessionchair.email" ng-href="mailto:{{sessionchair.email}}">{{sessionchair.name}}</a><span ng-if="!sessionchair.email">{{sessionchair.name}}</span></span>
                        </div>

                        <!-- Authors -->
                        <div ng-if="selectedTalk.authors">
                            <strong>Authors:</strong>
                            <span ng-repeat="author in selectedTalk.authors">{{$index > 0 ? ", " : ""}}<a ng-if="author.email" ng-href="mailto:{{author.email}}">{{author.name}}</a><span ng-if="!author.email">{{author.name}}</span></span>
                        </div>
                        <div ng-if="selectedTalk.papers">
                            <span ng-repeat="paper in selectedTalk.papers">{{$index > 0 ? "" : ""}} <span ng-if="paper.authors">
                                <span ng-repeat="author in paper.authors">{{$index > 0 ? ", " : ""}}<a ng-if="author.email" ng-href="mailto:{{author.email}}">{{author.name}}</a><span ng-if="!author.email">{{author.name}}</span></span></span>
                                <span>: </span> <span ng-if="paper.title"><strong>{{paper.title}}</strong></span> <span>  </span> <span ng-if="paper.type"><I>{{paper.type}}</I></span><BR></span>
                                
                        </div>


                        <!-- Speaker -->
                        <div ng-if="selectedTalk.speaker">
                            <strong>Speaker:</strong> {{selectedTalk.speaker.name}}
                        </div>

                        <!-- Homepage -->
                        <div ng-if="selectedTalk.speaker.homepage">
                            <strong>Homepage:</strong> <a ng-href="{{selectedTalk.speaker.homepage}}">{{selectedTalk.speaker.homepage}}</a>
                        </div>

                        <!-- Website -->
                        <div ng-if="selectedTalk.url">
                            <strong>Website:</strong> <a ng-href="{{selectedTalk.url}}">{{selectedTalk.url}}</a>
                        </div>

                        <!-- Abstract -->
                        <div ng-if="selectedTalk.abstract" class="abstract">
                            <strong>Abstract:</strong> {{selectedTalk.abstract}}
                        </div>
                        <div ng-if="selectedTalk.description" class="abstract">
                            <div ng-bind-html="convertHtml(selectedTalk.description) | unsafe"></div>
                        </div>
                        <div ng-if="selectedTalk.program" class="abstract">
                            <div ng-bind-html="convertHtmlprogram(selectedTalk.program) | unsafe"></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="day in data" class="row">
            <h3 class="day">{{day.name}}</h3>

            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr >
                        <th  class="col-md-1 col-xs-1 col-sm-1" class="sessionColumn"></th>
                        <th ng-repeat="room in day.rooms">{{room.name}}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="sessionGroup in day.sessionGroups" ng-init="sessionGroupIndex = $index">
                        <td ng-if="sessionGroup.length > 0" ng-repeat="session in sessionGroup" rowspan="{{session.rowSpan}}">
                            <div class="session" ng-if="$first" style="height: {{20*session.rowSpan}}px;">
                                {{getStartOfSessionGroup(sessionGroup)}}
                                <div class="sessionEnd">
                                    {{sessionGroupIndex + session.rowSpan === day.sessionGroups.length ? getEndOfSessionGroup(sessionGroup) : ""}}
                                </div>
                            </div>

                            <table class="table table-condensed" ng-if="$index > 0 && session.events">
                                <tr>
                                    <td ng-repeat="event in session.events" class="table-inner" ng-class="showColor(event)?event.type:''">

                                        <!-- Event -->
                                        <div ng-show="!showFavorites || (showFavorites && event.selected)">

                                            <a class="foo" href="#" data-bs-toggle="modal" data-bs-target="#infoModal" ng-click="getInfo($event,event, session.icalStart)" ng-if="event.type !== 'Keynote' && showModalAndStar(event.type)">{{event.title}}</a>
                                            <a class="foo" href="#" data-bs-toggle="modal" data-bs-target="#infoModal" ng-click="getInfo($event,event, session.icalStart)" ng-if="event.type === 'Keynote'">Keynote: {{event.speaker.name}}</a>
                                            <span ng-if="!showModalAndStar(event.type)">{{event.title}}</span>
                                            <button class="start btn btn-link btn-xs" ng-click="toggleFavoriteTalk(event, session.icalStart)" ng-if="showModalAndStar(event.type)">
                                                <span ng-if="event.selected" class="fas fa-star"></span>
                                                <span ng-if="!event.selected" class="far fa-star"></span>
                                            </button>

                                        </div>
                                       
                                    </td>


                                    <td ng-if="event.title && event.papers" ng-repeat="event in session.events" class="table-inner" ng-class="showColor(event)?event.type:''">


                                        <!-- Talk -->
                                        <div ng-if="event.title && event.papers">
                                            <div ng-repeat="talk in event.papers" ng-show="!showFavorites || (showFavorites && talk.selected)">
                                                <hr ng-if="$index > 0"/>

                                                <a class="foo"  href="#" data-bs-toggle="modal" data-bs-target="#infoModal" ng-click="getInfo($event,talk, talk.icalStart)">{{talk.title}}</a>

                                                <!--<button class="start btn btn-link btn-xs" ng-click="toggleFavoriteTalk(talk, talk.icalStart)">
                                                    <span ng-if="talk.selected" class="fas fa-star"></span>
                                                    <span ng-if="!talk.selected" class="far fa-star"></span>
                                                </button>-->

                                            </div>
                                        </div>

                                    </td>
                                   

                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-2">
                <div class="row"><strong>Legend:</strong></div>
                <div class="row legend Opening">Opening</div>
                <div class="row legend Keynote">Keynote</div>
                <div class="row legend TalkSession">Talk Session</div>

                <div class="row legend Workshop">Workshop</div>
                <div class="row legend Tutorial">Tutorial</div>
<!--                <div class="row legend Poster">Poster</div>
                <div class="row legend DoctoralSymposium">Symposium</div>
                <div class="row legend DoctoralSymposium">Doctoral Symposium</div>-->
                <!--<div class="row legend EducatorSymposium">Educator Symposium</div>
                <div class="row legend SRC">Student Research Competition</div>



                <div class="row legend Panel">Panel</div>
                <div class="row legend Clinic">Clinic</div>
                <div class="row legend Meeting">Meeting</div>


                <div class="row legend Lunch">Lunch</div>-->
                <div class="row legend Meeting">Steering Comitee</div>
                <div class="row legend Reception">Virtual Reception</div>
                <div class="row legend CoffeeBreak">Coffee Break</div>
            </div>
        </div>

        <footer class="row">
            <p>Proudly powered by MDE techniques, including EMF, Xtext, Xtend and the GEMOC studio. Source code is available on <a href="https://github.com/diverse-project/models2016-program">Github</a>.</p>
        </footer>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.1/iframeResizer.contentWindow.min.js" integrity="sha512-qw2bX9KUhi7HLuUloyRsvxRlWJvj0u0JWVegc5tf7qsw47T0pwXZIk1Kyc0utTH3NlrpHtLa4HYTVUyHBr9Ufg==" crossorigin="anonymous"></script>
<script src="js/data.js"></script>
<script src="js/program.js"></script>

</body>
</html>